<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DashBoard.My.MySettings.BANKConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Y:\SQL\BANK.accdb"
            providerName="System.Data.OleDb" />
        <add name="DashBoard.My.MySettings.BankingAppConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BankingApp.accdb"
            providerName="System.Data.OleDb" />
        <add name="DashBoard.My.MySettings.Test1ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Test1.accdb"
            providerName="System.Data.OleDb" />
        <add name="DashBoard.My.MySettings.Test1ConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Test1.accdb"
            providerName="System.Data.OleDb" />
        <add name="DashBoard.My.MySettings.BankingConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Banking.accdb"
            providerName="System.Data.OleDb" />
        <add name="DashBoard.My.MySettings.BankingConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Banking.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>